<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Adam's Rules" Description="Excludes CA1822" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1822" Action="None" />
  </Rules>
</RuleSet>